.table-margin {
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.row p {
    padding-left: calc((100% - 650px)/3);
}

.task-status-form {
    margin: 40px 0px
}

.sub-btn-margin {
    margin: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 120px !important;
    justify-content:flex-start !important;
}

.form_layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 135vh;
}

.btn_align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}