.app-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content-container {
  width: calc(100vw - 247.2px);
  height: calc(100vh - 100px);
  margin-top: 70px;
  padding: 15px;
}

.form-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #4065B8;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  width: 600px;
  height: 680px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 110px !important;
}

img {
  width: 15%;
  margin: 50px;
}